# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Nx
.nx/
dist/
.angular/
tmp/

# Expo / React Native
.expo/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Next.js (PWA)
.next/
out/
.vercel

# .NET / API
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal
project.lock.json
*.nupkg
*.snupkg
.nuget/
packages/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated native folders
/ios
/android

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Build artifacts
.fake
*.log
*.pid
*.seed
*.pid.lock

# Testing
coverage/
.nyc_output/
*.lcov

# Misc
*.bak
*.tmp
.cache/
